<%- include('../partials/head.ejs') %>
<%- include('../partials/nav.ejs') %>
    <h1><%=product.name%>:<%=product._id %></h1>
    <ul>
      <li>Price: $<%=product.price %></li>
      <li>
        category:
        <a href="/products?category=<%=product.category%>"> <%= product.category %></a>
      </li>
    </ul>
    <a href="http://localhost:3000/products/<%=product._id %>/edit">Edit</a>
    <a href="http://localhost:3000/products">Index</a>
    <form
      action="http://localhost:3000/products/<%=product._id %>?_method=DELETE"
      method="POST"
    >
      <button>Delete</button>
    </form>
    <%- include('../partials/foot.ejs') %>
   