<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail</title>
  </head>
  <body>
    <h1><%=findProduct.name%>:<%=findProduct._id %></h1>
    <ul>
      <li>Price: $<%=findProduct.price %></li>
      <li>category: <%=findProduct.category %></li>
    </ul>
    <a href="http://localhost:3000/products/<%=findProduct._id %>/edit">Edit</a>
  </body>
</html>
