<%- include('../partials/head.ejs') %> <%- include('../partials/nav.ejs') %>
<div class="container-md">
  <form
    action="http://localhost:3000/products/<%=product._id%>?_method=PUT"
    method="POST"
  >



            <%=product.name%>
     

    </textarea
    >
    <br />
    <button>submit</button>
  </form>
</div>
<%- include('../partials/foot.ejs') %>
