<%- include('../partials/head.ejs') %> <%- include('../partials/nav.ejs') %>

<div class="container-md">
  <h2>All product</h2>

  <%for(let p of products){%>
  <div class="card">
    <div class="card-body">
      <ul>
        <%=p.name %>
        <a href="/products/<%=p._id %>">Details</a>
      </ul>
    </div>
  </div>
  <%}%>

  <button class="btn btn-outline-success" type="submit">
    <a href="/products/new">Add product</a>
  </button>
</div>

<%- include('../partials/foot.ejs') %>
