<%- include('../partials/head.ejs') %> <%- include('../partials/nav.ejs') %>

<div class="container-md">
  <h2>All product</h2>

  <%for(let p of products){%>
  <div class="card">
    <div
      class="card-body"
      style="
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      "
    >
      <ul>
        <%=p.name %>
      </ul>
      <a href="/products/<%=p._id %>" class="btn btn-primary">Details</a>
    </div>
  </div>
  <%}%>

  <form action="/products/new" style="text-align: center">
    <button class="btn btn-outline-success" type="submit">Add product</button>
  </form>
</div>

<%- include('../partials/foot.ejs') %>
